img {
  max-width: 1000px;
  max-height: 500px;
  width: 1000px;
  height: 500px;  
  object-fit: fill; 
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  
}
.canvasOverlay{
  max-width: 1000px;
  max-height: 500px;
  width: 1000px;
  height: 500px;
  position:relative;
  z-index:  2;;
}
#container{
  display:inline-block;
  width:320px; 
  height:480px;
  margin: 0 auto; 
  background: black; 
  position:relative; 
  border:5px solid black; 
  border-radius: 10px; 
  box-shadow: 0 5px 50px #333}